{{>partials/header}}
   <main class="container">
      <div class="cadastro">
         <fieldset> 
             <legend>
                Adicionar um Novo Usuario.
             </legend>
             <form method="POST" action="/novo-usuario">
                <input type='text' nome='firstName' placeholder="Digite o seu nome"/> <br/>
                <input type='text' nome='middleName' placeholder="Digite o seu nome do meio"/> <br/>
                <input type='text' nome='lastName' placeholder="Digite o seu sobre nome"/> <br/>
                <input type='email' nome='email' placeholder="Digite o seu nome"/> <br/>
                <input type='text' nome='firstName' placeholder="Digite o seu nome"/> <br/>

             </form>
         </fieldset>
      </div>
   </main>
  
{{>partials/footer}}