<h1> Hello World </h1>

{{>partials/header}}

  <main class="container">
     <div class="cards">
     <div class="card-titulo">
    <h3>Lista de Usuarios.</h3>
      </div>
        <hr/>
        <h2>Users</h2>
        <ul>
            {{#users}}
               {{>partials/userItem}}
            {{/users}}
        </ul>
 

</main>
{{>partials/footer}}