<h1> Hello World </h1>

{{>partials/header}}

  <main class="container">
    <h2>Hello {{firstName}} {{lastName}}, tudo bem?</h2>
    <h3> How are you doing? 
         Show {{#showOld}} 
         Como vai a vida?

         {{/showOld}}
         {{^showOld}}
            Beleza?
         {{/showOld}}

    </h3>
        <hr/>
        <h2>Produtos</h2>
        <ul>
            {{#products}}
               {{>partials/productItem}}
            {{/products}}
        </ul>
        <hr/>   
<h1> Produtos a partir de R$ {{priceFilter}} </h1>
<ul>
   {{#expensives}}
      {{>partials/productItem}} 
   {{/expensives}}
   {{/^expensives}}
      <h2> Nao foram encontrados produtos com este valor</h2>
      {{/expensives}}
</ul>
<hr/>
<ul>
   {{#fraseDoDia}}
       <li><h3> {{>partials/fraseItem}} </h3></li>
   {{/fraseDoDia}}
   {{^fraseDoDia}}
      <h3> Nao ha frases motivacionais hoje.</h3>
   {{/fraseDoDia}}

</ul>
</main>
{{>partials/footer}}