{{>partials/header}}
   <h2> Qual ano você nasceu? </h2>
   <form method= 'POST' action='/idade-resultado'>
       <input
         type= 'number'
         nome= 'ano'
         placeholder= 'Digite o seu ano de nascimento'
       />
       <br/>
       <input 
         type= 'submit'
         value= 'Enviar'
       />
   </form>

   {{#mostrarIdade}}
      <hr/>
      Hello {{nome}}, are you alright? You are {{idade}} years old.
   {{/mostrarIdade}}
{{>partials/footer}}