<html>
   <head>
      <title>Manipulando o MongoDB </title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel = "stylesheet" href = "/css/style.css"/>
   </head>
   <body>
      <header class="container">
          <div class="banner">
             <h1>{{titulo}}</h1>
          </div>
      </header>
